body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-label {
  padding-left: 10px;
}

.list-item-container {
  padding: 10px;
  margin: 3px;
  border: 1px solid #ccc;
}

.medium-input-container {
  width: calc(50% - 6px);
  float: left;
  padding: 10px;
  margin: 3px;
  border: 1px solid #ccc;
}

.comment-area {
  height: 70px !important;
}

.button-container {
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}

.wine-button {
  margin: 5px !important;
}

.wine-info-img {
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  width: 100%;
  height: 200px;
}

.wine-info {
  position: absolute;
  height: 200px;
  background: rgb(250, 250, 250);
  width: 60%;
  right: 0;
}
